.DS_Store
.idea
*.py[cod]
*py[cod]
app/*py[cod]
audio/*
authentications/*py[cod]
authentications/migrations/*py[cod]
calls/*py[cod]
calls/migrations/*py[cod]
debug.log
panel/*py[cod]
panel/migrations/*py[cod]
utils/*py[cod]