.DS_Store
.idea
*py[cod]
*.py[cod]
app/*py[cod]
authentications/*py[cod]
authentications/migrations/*py[cod]
calls/*py[cod]
audio/*
calls/migrations/*py[cod]
panel/*py[cod]
panel/migrations/*py[cod]
utils/*py[cod]
