{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div style="display:none;" id="divCards"></div>
<table class="table table-hover table-striped table-condensed table-responsive" id="tableCards" style="font-size:10px;">
	<tr>
		<th>collection</th>
		<th>sp</th>
		<th>key</th>
		<th>begin_call</th>
		<th>origin</th>
		<th>call_answered</th>
		<th>last_state</th>
		<th>ivr_sel</th>
		<th>dial_intent_begin</th>
		<th>dial_intent_caller</th>
		<th>dial_intent_called</th>
		<th>dial_intent_end</th>
		<th>dial_intent_answered</th>
		<th>session_file</th>
		<th>hc</th>
		<th>routing</th>
		<th>name</th>
		<th>end_dial</th>
		<th>timestamp</th>
	</tr>
</table>

<!-- BOTON MATERIAL EXPORT -->
<div class="csv-download-btn">
	<button class="btn btn-fab btn-raised btn-info mdi-content-send" style="display:none;" 
	id="btnGenerateReport" type="button" rel="popover" data-animation="true" data-trigger="hover" 
	data-html="true" data-placement="left" data-container="body" data-toggle="popover" 
	data-content="<p>Generar Excel y enviármelo como correo electrónico adjunto. 
	<b>Nota:</b> máximo 20 mil celdas.</p>">
		<div class="ripple-wrapper"></div>
	</button>
</div>

<!-- BOTON MATERIAL MENU -->
<div class="search-btn" align="right">
	<button class="btn btn-fab btn-raised btn-warning mdi-action-search" id="showMenu" 
	type="button" rel="popover" data-animation="true" data-trigger="hover" 
	data-html="true" data-placement="left" data-container="body" data-toggle="popover" 
	data-content="<p>Click para abrir panel de filtro por fechas de período.</p>">
		<div class="ripple-wrapper"></div>
	</button>
</div>

<!-- MODAL DETALLE -->
<div class="modal" id="emailDetailModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeEmailDetailModal" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="emailDetailTitle">Detalle de...</h4>
            </div>
            <div class="modal-body">
                <p id="emailDetailBody" style="font-size:12px;"></p>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-material-indigo" data-dismiss="modal">Cerrar</button>            	
            </div>
        </div>
    </div>
</div>

<!-- MODAL MENU BUSCAR -->
<div class="modal" id="menuModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeMenuModal" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Búsqueda personalizada</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		            	<div class="form-horizontal">
		                	<div class="form-group form-group-material-indigo">
								<label class="control-label">Desde</label>
								<input class="form-control datePicker" type="text" id="date_from">
								<span class="mdi-action-today form-control-feedback" aria-hidden="true"></span>
							</div>
		            	</div>
            		</div>
            		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		            	<div class="form-horizontal">
							<div class="form-group form-group-material-indigo">
								<label class="control-label">Hasta</label>
								<input class="form-control datePicker" type="text" id="date_to">
								<span class="mdi-action-today form-control-feedback" aria-hidden="true"></span>
							</div>
		            	</div>
            		</div>
            	</div>
            </div>

            <div class="modal-footer">
            	<div class="form-group" align="right" style="margin-right:20px;">
            		<button class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button class="btn btn-raised btn-primary" id="run_search">Buscar</button>
				</div>
            </div>

        </div>
    </div>
</div>

<!-- MODAL NOTIFICACIONES -->
<div class="modal" id="notificationModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeNotificationModal" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="notificationTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="notificationBody"></p>
            </div>
            <div class="modal-footer">
            	<div class="form-group" align="right" style="margin-right:20px;">
					<button class="btn btn-flat btn-material-indigo" data-dismiss="modal">Cerrar</button>
				</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
	<script src="{% static "js/panel/search.js" %}"></script>
{% endblock %}