<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/bootstrap-material-design.min.css" %}">
	<link rel="stylesheet" href="{% static "css/ripples.min.css" %}">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<title>Azurian Login</title>
</head>
<body class="animated fadeInDown fondo-azurian" style="padding-top:40px;padding-bottom:40px;">

	<div class="container-fluid login">
		<div class="row">
			<div class="well" style="width:100%">
				<h3 class="header" align="center"><b>Azurian</b> IVR Soporte</h3>
				<form name='formulario' id="formulario" method="post" action=""> {% csrf_token %}
					<div class="form-group form-group-material-deep-orange">
						<input type="text" placeholder="Usuario" class="form-control floating-label" name="username" required>
					</div>
					<div class="form-group form-group-material-deep-orange">
						<input type="password" placeholder="Contraseña" class="form-control floating-label" name="password" required>
					</div>
					<div class="form-group" align="right">
						<button class="btn btn-raised btn-warning" style="width:100%;" type="submit">Iniciar sesión  <div class="ripple-wrapper"></div></button>
					</div>
				</form>
				<div align="right">
					<img src="/static/img/azurian_logo.png" width="198" height="82">
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{% static "js/ripples.min.js" %}"></script>
	<script src="{% static "js/material.min.js" %}"></script>
	<script>$.material.init();</script>
</body>
</html>